.admin {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin_header {
  width: 80vw;
  background-color: var(--bg-dark);
  padding-block: 2rem;
}

.btn_container {
  padding-block: 2rem;
}

.btn {
  background-color: var(--bg-greenblue);
  color: var(--heading-light);
  padding: 0.5rem 1rem;
  border: none;
  width: 120px;
}

.photo {
  width: 20vw;
  height: auto;
  object-fit: cover;
  margin: 10px;
}

@media (min-width: 768px) {
  .photo {
    height: 20vw;
  }
}

@media (min-width: 1024px) {
  .admin {
    width: 60vw;
    margin: 0 auto;
  }
  .photo {
    height: 10vw;
  }
}
