.admin {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin_header {
  width: 80vw;
  background-color: var(--bg-dark);
  padding-block: 2rem;
}

.p_admin {
  text-align: left;
}

.btn_container {
  padding-block: 2rem;
}

.back_link {
  color: var(--heading-light);
  background-color: var(--bg-dark);
  border: 1px solid var(--heading-light);
  padding: 0.4rem 1rem;
  text-decoration: none;
}

.btn {
  background-color: var(--bg-greenblue);
  color: var(--heading-light);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  width: 120px;
  cursor: pointer;
}

.imageList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.photo {
  width: 20vw;
  height: auto;
  object-fit: cover;
  margin: 10px;
}

@media (min-width: 768px) {
  .photo {
    height: 20vw;
  }
}

@media (min-width: 1024px) {
  .photo {
    height: 10vw;
  }
}
