:root {
  --bg-greenblue: #283841;
  --bg-dark: #0d0f11;
  --text-grey: #7a7d80;
  --heading-light: #dcdbdb;
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: var(--bg-dark);
}

h1,
h2,
h3 {
  font-family: var(--font-cormorant);
  color: var(--heading-light);
  margin-block: 1rem;
  font-size: 1.5rem;
}

h4 {
  font-family: var(--font-cormorant);
  color: var(--heading-light);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

p {
  color: var(--text-grey);
  font-family: var(--font-roboto);
  font-size: 0.8rem;
  margin-block: 0.5rem;
  text-align: right;
}

ul,
li {
  list-style-type: none;
}

i {
  color: var(--text-grey);
  font-family: var(--font-roboto);
  font-size: 1rem;
}

span.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: var(--heading-light);
  border: solid 1px var(--bg-dark);
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--bg-dark);
  border: solid 1px var(--heading-light);
  opacity: 1;
}

input[type="file"] {
  background-color: var(--bg-dark);
  width: 100%;
  display: block;
  color: var(--heading-light);
  padding-left: 0;
}

input[type="file"]::file-selector-button {
  background-color: var(--bg-greenblue);
  color: var(--heading-light);
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  border: none;
  width: 120px;
}
