.main {
  /* width: 100vw; */
}

.hero {
  height: 60vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* overflow-x: hidden; */
}

.hero_left {
  background-color: var(--bg-greenblue);
  width: 50%;
  /* height: 100%; */
}

.hero_right {
  background-color: var(--bg-dark);
  width: 50%;
  /*  height: 100%; */
}

.hero_image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  object-fit: cover;
}

.order_btn {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  z-index: 5;
  background-color: transparent;
  border: 1px solid var(--text-grey);
  color: var(--text-grey);
  font-family: var(--font-roboto);
  font-size: 12px;
  padding: 0.6rem 2rem;
}

.hero_heading {
  color: var(--heading-light);
  padding: 2rem;
}

.line_2 {
  display: inline-block;
  transform: translateX(20%);
}

.hero_text_container {
  text-align: right;
  padding: 1rem;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.about_container {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.about_bottom {
  display: flex;
  justify-content: space-between;
}

.about_bottom > div {
  border-right: 1px solid var(--heading-light);
}

.facts_card {
  padding: 0.4rem;
}

.carousel_container {
  background-color: #0d0f11;
  width: 100vw;
  padding-block: 2rem;
}

.carousel {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

.arrows {
  text-align: center;
  padding: 1rem;
}

.arrows > i {
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .about_top {
    display: flex;
    justify-content: space-between;
  }
}
