.main {
  height: 90vh;
}

.hero {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero_left {
  background-color: var(--bg-greenblue);
  flex: 1;
}

.hero_right {
  background-color: var(--bg-dark);
  flex: 1;
}

.hero_image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  object-fit: cover;
}

.order_btn {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  z-index: 5;
  background-color: transparent;
  border: 1px solid var(--text-grey);
  color: var(--text-grey);
  font-family: var(--font-roboto);
  font-size: 12px;
  padding: 0.6rem 2rem;
}

.hero_heading {
  color: var(--heading-light);
  padding: 2rem;
}

.line_2 {
  display: inline-block;
  transform: translateX(20%);
}

.hero_text_container {
  text-align: right;
  padding: 1rem;
  font-size: 10px;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.about_container {
  background-color: var(--bg-dark);
}
