.swiper {
  height: 30vh;
  width: 100vw;
}

.carousel_img_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-dark);
  padding-block: 2rem;
}

.carousel_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .swiper {
    height: 30vh;
    width: 60vw;
  }
}
