.card {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--heading-light);
}

.card_heading {
  font-size: 1rem;
}

.card_text {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .card {
    width: 30vw;
    margin: 0;
    border-bottom: none;
  }

  .card_text {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 20vw;
  }
}
