.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: rgba(15, 15, 15, 0.13);
  padding: 3rem 1rem;
  color: #dcdbdb;
  z-index: 150;
}

.admin_btn {
  background-color: var(--bg-greenblue);
  color: var(--heading-light);
  border: none;
  font-size: 12px;
  font-family: var(--font-roboto);
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.nav_title {
  display: inline-block;
}

.nav_title,
.admin_btn {
  font-family: var(--font-cormorant);
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .nav {
    width: 60vw;
    margin: 0 auto;
    padding-left: 0rem;
  }
}
